[[source]]
name = 'pypi'
url = 'https://pypi.org/simple'
verify_ssl = true

[dev-packages]
flake8 = '*'
pytest = '*'
requests = '*'
pytest-docker = '==0.12.0'
pytest-asyncio = '==0.18.3'

[packages]
clamd = { git = 'https://github.com/temal-/python-clamd-async.git', ref = '1.1.1' }
hypercorn = {extras = ['uvloop'], version = '==0.13.2'}
quart = '==0.17.0'
aioprometheus = '==22.5.0'

[requires]
python_version = '3.10'
